<div class="row">
  <div class="col-md-12">
    <h2>Students</h2>
    <br />
    <div class="table-responsive">
      <table class="table">
        <tr>
          <td>Student ID</td>
          <td>Full Name</td>
          <td>Email</td>
          <td>Address</td>
          <td>Expected Credential</td>
          <td>Status</td>
          <td>Program</td>
          <td>registrationDate</td>
        </tr>
        {{#each students}}
          <tr>
            <td>
              <a href="/student/{{students.studentID}}">
                {{students.studentID}}
              </a>
            </td>
            <td>{{students.firstName}} {{students.lastName}}</td>
            <td>
              <a href="mailto:{{students.email}}">{{students.email}}</a>
            </td>
            <td>{{students.addressStreet}}
              {{students.addressCity}}
              {{students.addressState}}
              {{students.addressZip}}</td>
            <td>
              <a href="/students?credential={{students.expectedCredential}}">
                {{students.expectedCredential}}
              </a>
            </td>
            <td>
              <a href="/students?status={{students.status}}">
                {{students.status}}
              </a>
            </td>
            <td>
              <a href="/students?program={{students.program}}">
                {{students.program}}
              </a>
            </td>
            <td>{{students.registrationDate}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>
  {{#unless students}}
    <div class="col-md-12 text-center">
      <strong>{{students.message}}</strong>
    </div>
  {{/unless}}
</div>